.header {
  background-color: $color-primary;
  grid-column: 1;
  background-image: url(../img/world-map.png);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 85vh;
  @include grid(12);
  &__img {
    grid-column: 2 / 8;
  }
  &__about {
    text-align: center;
    align-self: center;
    grid-column: 8 / 14;
  }
}

.heading-primary {
  display: flex;
  flex-direction: column;
}



