.logos {
  &-section {
    @include grid(12);
    background-color: $color-black;
  }

  &__list {
    grid-row: 1 / -1;
    grid-column: 2 / 14;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include respond(phone) {
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 80rem;
    }
  }

  &__item {
    transition: all .2s;
    width: 12rem;

    &:nth-child(2) {
      width: 16rem;
    }

    &:hover {
      transform: translateY(-1.5rem) scale(1.03);
    }
  }
}

