@mixin bgGradient($firstColor, $secondColor) {
  background-image: repeating-linear-gradient(140deg, $firstColor, $firstColor 4px, $secondColor 1px, $secondColor 5px);
}

@mixin grid($cols) {
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) repeat($cols, minmax(min-content, 9.75rem)) minmax(1rem, 1fr);
  align-content: center;
}

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) { @content };    // <600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 50em) { @content };     // <800px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 62.5em) { @content };    // <1000px
  }
  @if $breakpoint == large-desktop {
    @media only screen and (min-width: 93.75em) { @content };    // >1500px
  }
}