// FONT
$default-font-size: 1.6rem;

// COLORS
$color-primary: #F9E42F;
$color-grey-dark-1: #111;
$color-grey-dark-2: #333;
$color-grey-light-1: #B5B5B5;
$color-grey-light-2: #D9D9D9;
$color-black: #000;
$color-white: #fff;